n8n-workflow-relatorio-glpi.json
{
  "name": "Relatorio Diario GLPI com IA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "relatorio-glpi",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook — Recebe do Backend",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "relatorio-glpi"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:3001/api/ai/narrativa",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-AI-Secret",
              "value": "painel-jd-ai-secret-2026"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "http-narrativa",
      "name": "IA — Buscar Narrativa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "const d = $('Webhook — Recebe do Backend').first().json.body\n       || $('Webhook — Recebe do Backend').first().json;\nconst r   = d.resumo     || {};\nconst st  = d.porStatus  || {};\n\n// Narrativa IA\nlet narrativaHtml = '';\ntry {\n  const iaDados = $('IA — Buscar Narrativa').first().json;\n  if (iaDados && iaDados.sucesso && iaDados.narrativa) {\n    const texto = iaDados.narrativa.replace(/\\n/g, '<br>');\n    narrativaHtml = `\n      <tr><td style=\"background:#f0f7ee;padding:28px 44px;border-left:5px solid #367C2B\">\n        <p style=\"font-size:11px;font-weight:700;color:#367C2B;text-transform:uppercase;letter-spacing:1px;margin:0 0 10px;font-family:Segoe UI,Arial,sans-serif\">\n          ✨ Análise por Inteligência Artificial\n        </p>\n        <p style=\"font-size:14px;color:#1a3a14;line-height:1.75;margin:0;font-family:Segoe UI,Arial,sans-serif\">${texto}</p>\n      </td></tr>`;\n  }\n} catch(e) {}\n\nconst slaCor  = (p) => p >= 80 ? '#059669' : p >= 60 ? '#d97706' : '#dc2626';\nconst slaBg   = (p) => p >= 80 ? '#ecfdf5' : p >= 60 ? '#fffbeb' : '#fef2f2';\nconst varAbertos = (r.abertosHoje||0) - (r.abertosOntem||0);\nconst varSoluc   = (r.solucionadosHoje||0) - (r.solucionadosOntem||0);\nconst seta    = (v) => v > 0 ? '▲ +'+v : v < 0 ? '▼ '+v : '= 0';\nconst setCor  = (v, inv) => {\n  if (inv)  return v > 0 ? '#dc2626' : v < 0 ? '#059669' : '#64748b';\n  return v > 0 ? '#059669' : v < 0 ? '#dc2626' : '#64748b';\n};\n\nconst kpi = (label, valor, cor, bg) =>\n  `<td width=\"25%\" style=\"padding:4px\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr>\n      <td style=\"background:${bg};padding:22px 12px;text-align:center;border:1px solid #e2e8f0\">\n        <p style=\"font-size:40px;font-weight:800;color:${cor};margin:0;line-height:1;font-family:Segoe UI,Arial,sans-serif\">${valor}</p>\n        <p style=\"font-size:10px;color:#64748b;margin:8px 0 0;font-weight:700;text-transform:uppercase;letter-spacing:0.8px;font-family:Segoe UI,Arial,sans-serif\">${label}</p>\n      </td>\n    </tr></table>\n  </td>`;\n\nconst metrica = (emoji, label, valor, cor) =>\n  `<tr>\n    <td style=\"padding:14px 24px;font-size:14px;color:#475569;border-bottom:1px solid #e2e8f0;font-family:Segoe UI,Arial,sans-serif\">${emoji} ${label}</td>\n    <td style=\"padding:14px 24px;font-size:17px;font-weight:800;text-align:right;color:${cor};border-bottom:1px solid #e2e8f0;font-family:Segoe UI,Arial,sans-serif\">${valor}</td>\n  </tr>`;\n\nlet cats = '';\n(d.categoriasHoje || []).forEach((c, i) => {\n  const bg = i % 2 === 0 ? '#ffffff' : '#f8fafc';\n  cats += `<tr>\n    <td style=\"padding:12px 24px;font-size:14px;color:#334155;background:${bg};border-bottom:1px solid #e2e8f0;font-family:Segoe UI,Arial,sans-serif\">${c.categoria}</td>\n    <td style=\"padding:12px 24px;font-size:16px;font-weight:700;text-align:right;color:#1e293b;background:${bg};border-bottom:1px solid #e2e8f0;font-family:Segoe UI,Arial,sans-serif\">${c.qtd}</td>\n  </tr>`;\n});\n\nlet atds = '';\nconst medalhas = ['🥇','🥈','🥉'];\n(d.atendentesHoje || []).forEach((a, i) => {\n  const bg = i % 2 === 0 ? '#ffffff' : '#f8fafc';\n  const m  = medalhas[i] || `${i+1}.`;\n  atds += `<tr>\n    <td style=\"padding:12px 24px;font-size:14px;color:#334155;background:${bg};border-bottom:1px solid #e2e8f0;font-family:Segoe UI,Arial,sans-serif\">${m} ${a.nome}</td>\n    <td style=\"padding:12px 24px;font-size:16px;font-weight:700;text-align:right;color:#059669;background:${bg};border-bottom:1px solid #e2e8f0;font-family:Segoe UI,Arial,sans-serif\">${a.resolvidos} ✓</td>\n  </tr>`;\n});\n\nconst html = `<!DOCTYPE html><html lang=\"pt-BR\">\n<head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width\"></head>\n<body style=\"margin:0;padding:0;background:#e2e8f0;font-family:Segoe UI,Helvetica,Arial,sans-serif\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#e2e8f0;padding:32px 0\"><tr><td align=\"center\">\n<table width=\"660\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:660px;width:100%\">\n  <tr><td style=\"background:linear-gradient(135deg,#1D5016 0%,#367C2B 100%);padding:36px 44px\">\n    <table width=\"100%\"><tr><td>\n      <div style=\"display:inline-block;background:#FFDE00;padding:6px 14px;border-radius:6px;margin-bottom:14px\">\n        <span style=\"font-size:13px;font-weight:900;color:#1D5016;font-family:Segoe UI,Arial,sans-serif\">JOHN DEERE</span>\n      </div>\n      <h1 style=\"color:#ffffff;margin:0;font-size:22px;font-weight:800;font-family:Segoe UI,Arial,sans-serif\">📊 Relatório Diário — TI</h1>\n      <p style=\"color:rgba(255,255,255,0.7);margin:8px 0 0;font-size:13px;font-family:Segoe UI,Arial,sans-serif\">${d.dataFormatada||'Hoje'} | Grupo GLPI_TI | Tracbel Agro</p>\n    </td><td style=\"text-align:right;vertical-align:top\">\n      <p style=\"color:#FFDE00;font-size:11px;font-weight:700;margin:0\">AUTOMÁTICO</p>\n    </td></tr></table>\n  </td></tr>\n  ${narrativaHtml}\n  <tr><td style=\"background:#ffffff;padding:32px 40px 20px\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr>\n      ${kpi('ABERTOS', r.abertos||0, '#dc2626', '#fef2f2')}\n      ${kpi('SOLUCIONADOS HOJE', r.solucionadosHoje||0, '#059669', '#ecfdf5')}\n      ${kpi('NOVOS HOJE', r.abertosHoje||0, '#1e40af', '#eff6ff')}\n      ${kpi('SLA SOLUÇÃO', (r.slaPct||0)+'%', slaCor(r.slaPct||0), slaBg(r.slaPct||0))}\n    </tr></table>\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-top:14px\"><tr>\n      <td style=\"padding:10px 16px;text-align:center;background:#f8fafc;border:1px solid #e2e8f0\">\n        <span style=\"font-size:12px;color:#64748b\">vs Ontem: </span>\n        <span style=\"font-size:13px;font-weight:700;color:${setCor(varAbertos,true)}\">${seta(varAbertos)} novos</span>\n        <span style=\"font-size:12px;color:#cbd5e1;margin:0 8px\">|</span>\n        <span style=\"font-size:13px;font-weight:700;color:${setCor(varSoluc,false)}\">${seta(varSoluc)} solucionados</span>\n      </td>\n    </tr></table>\n  </td></tr>\n  <tr><td style=\"background:#ffffff;padding:4px 40px 28px\">\n    <h3 style=\"font-size:13px;font-weight:700;color:#0f172a;margin:0 0 12px;text-transform:uppercase;letter-spacing:0.5px\">📈 Métricas do Dia</h3>\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:1px solid #e2e8f0\">\n      ${metrica('🎯', 'SLA Atendimento (1ª resposta)', (r.slaAtenPct||0)+'%', slaCor(r.slaAtenPct||0))}\n      ${metrica('⏱️', 'Tempo médio de solução', (r.tempoMedioHoje||0)+'h', '#1e40af')}\n      ${metrica('⚡', 'Tempo médio 1ª resposta', (r.tempoRespostaHoje||0)+'h', '#7c3aed')}\n      ${metrica('🔴', 'Envelhecidos (mais de 45 dias)', r.envelhecidos||0, '#dc2626')}\n      ${metrica('🔄', 'Reaberturas hoje', r.reabertosHoje||0, '#d97706')}\n      ${metrica('🔒', 'Fechados hoje', r.fechadosHoje||0, '#334155')}\n    </table>\n  </td></tr>\n  <tr><td style=\"background:#ffffff;padding:4px 40px 28px\">\n    <h3 style=\"font-size:13px;font-weight:700;color:#0f172a;margin:0 0 12px;text-transform:uppercase;letter-spacing:0.5px\">📋 Status dos Chamados Abertos</h3>\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"4\"><tr>\n      <td width=\"25%\" style=\"text-align:center;padding:16px;background:#f8fafc;border:1px solid #e2e8f0\"><p style=\"font-size:28px;font-weight:800;color:#334155;margin:0\">${st.novos||0}</p><p style=\"font-size:11px;color:#64748b;margin:6px 0 0\">⚪ Novos</p></td>\n      <td width=\"25%\" style=\"text-align:center;padding:16px;background:#f8fafc;border:1px solid #e2e8f0\"><p style=\"font-size:28px;font-weight:800;color:#059669;margin:0\">${st.atribuidos||0}</p><p style=\"font-size:11px;color:#64748b;margin:6px 0 0\">🟢 Atribuídos</p></td>\n      <td width=\"25%\" style=\"text-align:center;padding:16px;background:#f8fafc;border:1px solid #e2e8f0\"><p style=\"font-size:28px;font-weight:800;color:#d97706;margin:0\">${st.planejados||0}</p><p style=\"font-size:11px;color:#64748b;margin:6px 0 0\">🟡 Planejados</p></td>\n      <td width=\"25%\" style=\"text-align:center;padding:16px;background:#f8fafc;border:1px solid #e2e8f0\"><p style=\"font-size:28px;font-weight:800;color:#dc2626;margin:0\">${st.pendentes||0}</p><p style=\"font-size:11px;color:#64748b;margin:6px 0 0\">🟠 Pendentes</p></td>\n    </tr></table>\n  </td></tr>\n  ${cats ? `<tr><td style=\"background:#ffffff;padding:4px 40px 28px\"><h3 style=\"font-size:13px;font-weight:700;color:#0f172a;margin:0 0 12px;text-transform:uppercase\">📂 Top Categorias do Dia</h3><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:1px solid #e2e8f0\">${cats}</table></td></tr>` : ''}\n  ${atds ? `<tr><td style=\"background:#ffffff;padding:4px 40px 28px\"><h3 style=\"font-size:13px;font-weight:700;color:#0f172a;margin:0 0 12px;text-transform:uppercase\">🏆 Top Atendentes do Dia</h3><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:1px solid #e2e8f0\">${atds}</table></td></tr>` : ''}\n  <tr><td style=\"background:#1D5016;padding:24px 44px;text-align:center\">\n    <p style=\"font-size:12px;color:rgba(255,255,255,0.7);margin:0;font-family:Segoe UI,Arial,sans-serif\">\n      <strong style=\"color:#FFDE00\">Painel de Rotinas TI</strong> · John Deere Tracbel Agro<br>\n      Relatório gerado automaticamente — Não responda este email.\n    </p>\n  </td></tr>\n</table></td></tr></table></body></html>`;\n\nconst assunto = `📊 Relatório TI — ${r.solucionadosHoje||0} solucionados | ${r.abertos||0} abertos | SLA ${r.slaPct||0}% | ${d.dataFormatada||'Hoje'}`;\n\nreturn [{ json: { html, assunto } }];"
      },
      "id": "code-email",
      "name": "Code — Gerar HTML Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply_agro@tracbel.com.br",
        "toEmail": "email1@tracbel.com.br, email2@tracbel.com.br",
        "subject": "={{ $json.assunto }}",
        "emailFormat": "html",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "id": "send-email",
      "name": "Enviar Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\" }",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [920, 460]
    }
  ],
  "connections": {
    "Webhook — Recebe do Backend": {
      "main": [
        [
          { "node": "IA — Buscar Narrativa", "type": "main", "index": 0 },
          { "node": "Responder Webhook", "type": "main", "index": 0 }
        ]
      ]
    },
    "IA — Buscar Narrativa": {
      "main": [
        [
          { "node": "Code — Gerar HTML Email", "type": "main", "index": 0 }
        ]
      ]
    },
    "Code — Gerar HTML Email": {
      "main": [
        [
          { "node": "Enviar Email", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["TI", "GLPI", "IA"],
  "triggerCount": 1
}
